@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "LAP Airline ";
}
<div class="jss1285">
    <div class="jss38 jss1286">
        <div class="MuiBox-root jss1303">
            <p class="MuiTypography-root jss1287 jss448 jss1304 MuiTypography-h5 MuiTypography-colorTextPrimary" variantmd="h3">
                <span>Chuyến bay một chiều | </span>
                <span>1 Người lớn</span>
            </p>
            <div class="pav-city">
                <div class="jss1288">
                @*<img src="/static/media/departure-icon.25d3557e.svg" alt="Departure Icon">*@
                <div class="sgv-di">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5.89286" cy="5.89286" r="5.39286" stroke="#D91A21"/>
                    <circle cx="5.89265" cy="5.89314" r="3.53571" fill="#DA1B22"/>
                </svg>
                </div>
                <p class="MuiTypography-root jss1289 jss448 jss1307 MuiTypography-h5 MuiTypography-colorTextPrimary" variantmd="h3">
                    <span>Điểm khởi hành</span>
                    <span>
                        Tp. Hồ Chí Minh (SGN )
                    </span>
                </p>
            </div>
            <div class="jss1288">
                @*<img src="/static/media/arrival-icon.a05c5d78.svg" alt="Departure Icon">*@
                <div class="sgv-den">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.38909 1.6402C8.35764 0.589998 6.95869 0 5.5 0C4.04131 0 2.64236 0.589998 1.61091 1.6402C0.579463 2.69041 0 4.11479 0 5.6C0 9.8 5.5 16 5.5 16C5.5 16 11 9.8 11 5.6C11 4.11479 10.4205 2.69041 9.38909 1.6402Z" fill="url(#paint0_linear)" />
                        <circle cx="5.5" cy="5.5" r="2.5" fill="white" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="-2.2" y1="16.0067" x2="15.5173" y2="12.2224" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#459B02" />
                                <stop offset="1" stop-color="#AAFA6B" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <p class="MuiTypography-root jss1289 jss448 jss1310 MuiTypography-h5 MuiTypography-colorTextPrimary" variantmd="h3">
                    <span>Điểm đến</span>
                    <span>Hà Nội ( HAN )</span>
                </p>
            </div>
        </div>
        </div>
        <div class="MuiBox-root jss1313">
            <div class="jss1292 jss1293">
                <svg class="MuiSvgIcon-root jss1294 jss1295" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                    <path d="M21 16v-2l-8-5V3.5c0-.83-.67-1.5-1.5-1.5S10 2.67 10 3.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5z"></path>
                </svg>
            </div>
            <div class="jss1292">
                <svg class="MuiSvgIcon-root jss1294" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                </svg>
            </div>
            <div class="jss1292">
                <svg class="MuiSvgIcon-root jss1294" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                    <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"></path>
                </svg>
            </div>
            <div class="jss1292">
                <svg class="MuiSvgIcon-root jss1294" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                    <path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"></path>
                </svg>
            </div>
        </div>
    </div>
</div>

 <div class="table-ticket">
     <div class="MuiBox-root jss6630 jss6575">
         <div class="MuiBox-root jss7419 jss6573">
             <div class="jss6574"></div>
             <div class="MuiBox-root jss7420 jss6572">
                 <div class="MuiBox-root jss7421" style="border: 1px solid rgb(175, 137, 3); background-color: rgb(175, 137, 3);">
                     <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/wskybosspremier-1642435135646.svg" alt="">
                </div>
                <div class="MuiBox-root jss7422" style="border: 1px solid rgb(218, 33, 40); background-color: rgb(218, 33, 40);">
                    <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/wskyboss-1642435135647.svg" alt="">
                </div>
                <div class="MuiBox-root jss7423" style="border: 1px solid rgb(249, 165, 26); background-color: rgb(249, 165, 26);">
                    <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/wdelux-1642435135632.svg" alt="">
                </div>
                <div class="MuiBox-root jss7424" style="border: 1px solid rgb(106, 183, 46); background-color: rgb(106, 183, 46);">
                    <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/weco-1642435135644.svg" alt="">
                </div>
            </div>
        </div>
        <div class="MuiBox-root jss6631">
            <div>
                <div class="MuiBox-root jss7425">
                    <div class="jss7426">
                        <div class="jss7427">
                            <div class="jss7467">
                                <div class="vj123">
                                    <span>VJ356</span>
                                </div>
                                <div class="vj-time">16:55 <span class="jss7464">Đến</span> 17:55</div>
                                <div class="vj-last">
                                    <span class="jss7465">Airbus A321</span>
                                    <div class="jss7466">
                                        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="jss7469">
                                <div class="jss7449">
                                    <div class="jss7428">
                                        <div>
                                            <div class="jss7470">
                                                <img src="/static/media/noflight.cee84207.svg" alt="">
                                                <p class="MuiTypography-root jss126 jss133 MuiTypography-h5 MuiTypography-colorTextPrimary" customcolor="grey" weight="Bold">Hết chỗ</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jss7449" >
                                    <div class="jss7428">
                                        <p class="MuiTypography-root jss7433 MuiTypography-h4 MuiTypography-colorTextPrimary">1.450</p>
                                        <p class="MuiTypography-root jss7436 MuiTypography-body1 MuiTypography-colorTextPrimary">000 VND</p>
                                    </div>
                                    <span class="jss7472">
                                        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="jss7449">
                                    <div class="jss7428">
                                        <p class="MuiTypography-root jss7433 MuiTypography-h4 MuiTypography-colorTextPrimary">609</p>
                                        <p class="MuiTypography-root jss7436 MuiTypography-body1 MuiTypography-colorTextPrimary">000 VND</p>
                                    </div>
                                    <span class="jss7472">
                                        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="jss7449">
                                    <div class="jss7428">
                                        <p class="MuiTypography-root jss7433 MuiTypography-h4 MuiTypography-colorTextPrimary">109</p>
                                        <p class="MuiTypography-root jss7436 MuiTypography-body1 MuiTypography-colorTextPrimary">000 VND</p>
                                    </div>
                                    <span class="jss7472">
                                        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                        <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="MuiCollapse-container MuiCollapse-hidden" style="min-height: 0px; height: 0px; transition-duration: 300ms;">
                            <div class="MuiCollapse-wrapper">
                                <div class="MuiCollapse-wrapperInner">
                                    <div class="jss7437"></div>
                                </div>
                            </div>
                        </div>
                        <div class="MuiCollapse-container MuiCollapse-hidden" style="min-height: 0px; height: 0px; transition-duration: 300ms;">
                            <div class="MuiCollapse-wrapper">
                                <div class="MuiCollapse-wrapperInner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MuiBox-root jss7475 jss6571">
                <p class="MuiTypography-root jss128 MuiTypography-subtitle1 MuiTypography-colorTextPrimary" customcolor="lightGrey">Khai thác bởi</p>
                <img src="/static/media/icon_flight.c92d4c69.svg" alt="vietjet flight">
                <p class="MuiTypography-root jss124 MuiTypography-subtitle1 MuiTypography-colorTextPrimary" customcolor="black">VJ - Vietjet Air</p>
                <img src="/static/media/icon_flight-grey.35e741b0.svg" alt="Thai vietjet flight">
                <p class="MuiTypography-root jss124 MuiTypography-subtitle1 MuiTypography-colorTextPrimary" customcolor="black">VZ - Thai Vietjet</p>
            </div>
        </div>
    </div>
 </div>

    <section class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <img src="img/logo.png" alt="Flight Template">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="page-direction-button">
                        <a href="index.html"><i class="fa fa-home"></i>Go Back Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Contact Information</h2>
                        <p> Pellentesque quis turpis et lectus auctor gravida ut vel orci. Proin et tempus nunc. Proin sed justo neque. Donec et tempus ligula, et gravida elit. Vivamus vitae placerat metus.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/assets/img/contact-01.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <img src="~/assets/img/contact-02.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <h6>Proin dignissim rhoncus</h6>
                    <p>Aliquam elit metus, varius in ligula sed, posuere aliquam nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis vel rhoncus lectus.</p>
                </div>
                <div class="col-md-4">
                    <h6>Duis vehicula quis elit</h6>
                    <p>Donec nisl felis, eleifend eu diam ut, condimentum finibus erat. Aliquam luctus commodo ultricies. Etiam in tellus mi. Nam lobortis est magna, et rutrum ipsum lacinia id.</p>
                </div>
                <div class="col-md-4">
                    <h6>Duis vel rhoncus lectus</h6>
                    <p>Mauris aliquet eget lorem a tempor. Morbi in dui sed orci placerat ultrices sed a mi. Praesent eget porttitor enim. In tempor eros mi. Morbi a lobortis ante. Sed blandit vitae diam commodo ultricies.</p>
                </div>
            </div>
        </div>
    </section>



    <section class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Leave us a message</h2>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <form id="contact" action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Submit Your Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <section class="map">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="map">
        <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7895.485196115994!2d103.85995441789784!3d1.2880401763270322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7fb4e58ad9cd826e!2sSingapore+Flyer!5e0!3m2!1sen!2sth!4v1505825620371" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
